Django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
python-decouple
python-dotenv
psycopg2-binary
psycopg2
Pillow
reportlab
croniter
openpyxl
pandas
python-dateutil
pytz
requests
celery
redis
gunicorn
drf-spectacular
drf-yasg
django-extensions
factory-boy
faker
sentry-sdk

